.*.sw?
.com*
Gemfile.lock
pkg
.rspec_system
.vagrant
.bundle
.metadata
.project
vendor
log

spec/fixtures/manifests/site.pp
spec/fixtures/modules/ant/
spec/fixtures/modules/java/
spec/fixtures/modules/selinux/
spec/fixtures/modules/stdlib/
spec/fixtures/modules/vcsrepo/
spec/fixtures/modules/wget/
spec/fixtures/modules/jboss_as/
spec/fixtures/modules/mysql/

